@import "font.css";
@import "color-style.css";
@import "components/style-headAccueil.css";
/* Navigation */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
nav,
#burger {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 725px) {
  nav,
  #burger {
    flex-direction: column;
  }
}
#menu-burger {
  width: 35px;
  height: 35px;
  border: 4px solid black;
  display: none;
  z-index: 100;
}
@media screen and (max-width: 725px) {
  #menu-burger {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
#burger {
  z-index: 100;
  background-color: white;
}
@media screen and (max-width: 725px) {
  #burger {
    display: none;
  }
}
.deploy-menu {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ul {
  padding-left: 0;
}
#brand {
  padding-left: 1em;
  padding-top: 6px;
}
.nav-centrale {
  display: flex;
  margin: 30px auto;
  background-color: white;
}
@media screen and (max-width: 725px) {
  .nav-centrale {
    flex-direction: column;
    margin: 0;
  }
}
#extra-nav {
  height: 100%;
}
@media screen and (max-width: 725px) {
  #extra-nav {
    height: auto;
  }
}
#extras {
  display: block;
}
@media screen and (max-width: 725px) {
  #extras {
    display: initial;
  }
}
.nav-centrale li:not(:first-child) {
  padding-left: 30px;
}
@media screen and (max-width: 725px) {
  .nav-centrale li:not(:first-child) {
    padding-left: 0;
    padding-top: 10px;
  }
}
.extra-nav-entry:after {
  content: url("../../../public/images/arrow-nav.svg");
  position: absolute;
  transform: rotateZ(180deg);
  right: 32px;
}
@media screen and (max-width: 725px) {
  .extra-nav-entry:after {
    display: none;
  }
}
@media screen and (max-width: 725px) {
  .extra-nav-entry {
    border-bottom: 1px solid black;
    width: 100%;
  }
}
.menu-deroulant {
  position: relative;
  width: 168px;
  text-align: center;
}
#sous-menu {
  flex-direction: column;
  position: absolute;
  width: 168px;
  transition: 0.3s all ease-out;
  z-index: -1;
}
@media screen and (max-width: 725px) {
  #sous-menu {
    position: initial;
    width: auto;
  }
}
.turnIt:after {
  transform: rotateZ(0);
}
.appear {
  transform: translateY(-25em);
}
@media screen and (max-width: 725px) {
  .appear {
    transform: none;
  }
}
.underline-toggle {
  border-bottom: solid 2px black;
}
#sous-menu li {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
.menu-deroulant {
  padding-top: 30px;
}
/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer-cat {
  display: flex;
}
@media screen and (max-width: 725px) {
  .footer-cat {
    flex-direction: column;
  }
}
.footer-cat-column {
  flex-grow: 3;
}
@media screen and (max-width: 725px) {
  .footer-cat-column {
    flex-grow: 0;
    text-align: center;
    border-top: 1px solid #9A9A9A;
  }
}
.footer-cat-column li {
  padding: 1em 0;
}
footer h1 {
  flex-grow: 10;
  padding-left: 0.5em;
}
@media screen and (max-width: 725px) {
  footer h1 {
    padding: 0;
    flex-grow: 0;
  }
}
.footer-logo {
  border-bottom: #9A9A9A 1px solid;
}
.footer-logo ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 725px) {
  .footer-logo ul:nth-child(1) {
    order: 2;
  }
}
@media screen and (max-width: 725px) {
  .footer-logo ul:nth-child(2) {
    order: 1;
  }
}
@media screen and (max-width: 725px) {
  .footer-logo ul:nth-child(3) {
    order: 3;
  }
}
.footer-logo {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 725px) {
  .footer-logo {
    flex-direction: column;
    width: auto;
  }
}
.footer-logo ul > li {
  display: flex;
  align-items: center;
}
.footer-logo #logoMMifooter {
  margin: 0 auto;
}
#logoMMifooter img {
  transform: scale(1.2);
}
footer .logoUniv {
  padding-left: 1.5em;
}
@media screen and (max-width: 725px) {
  footer .logoUniv {
    padding: 0;
  }
}
#bottom-footer ul {
  display: flex;
}
@media screen and (max-width: 725px) {
  #bottom-footer ul {
    justify-content: center;
  }
}
#bottom-footer li {
  padding-left: 2em;
}
@media screen and (max-width: 725px) {
  #bottom-footer li {
    padding-left: 1em;
    padding-bottom: 1em;
  }
}
.social-footer {
  transform: scale(1.5);
  margin: 0 1em;
}
/*# sourceMappingURL=style.css.map */